@charset "UTF-8";
/* Mixin */
h1 {
  color: white;
  background: black;
  padding: 10px 5px;
}

h2 {
  color: yellow;
  background: blue;
  padding: 10px 5px;
}

/* Herança */
/* Multiplas diretivas */
.classe1, .vermelho {
  color: red;
}

.classe2, .vermelho {
  background: black;
}

/* 
Encadeamento de diretivas 
Placeholders (%)
*/
.erro {
  color: red;
}

.erro {
  background: black;
}

.erro {
  padding: 10px;
  border: 3px solid red;
}

/* Diretivas de controle */
p {
  color: black;
}

/* Diretivas de controle e Mixins */